.chessBoard > tr > td {
    border: 1px solid black;
    height: 48px;
    width: 48px;
}

.chessBoard > tr:nth-child(2n+1) > td:nth-child(2n),
.chessBoard > tr:nth-child(2n) > td:nth-child(2n+1) {
    background-image: url(../img/Melamine-wood-004.png);
}

.chessBoard > tr:nth-child(2n+1) > td:nth-child(2n+1),
.chessBoard > tr:nth-child(2n) > td:nth-child(2n) {
    background-image: url(../img/ivory_2.jpg);
}

.chessBoard > tr:first-child > td:first-child {
    border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
}

.chessBoard > tr:first-child > td:last-child {
    border-radius: 0px 10px 0px 0px;
    -moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
}

.chessBoard > tr:last-child > td:first-child {
    border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
}

.chessBoard > tr:last-child > td:last-child {
    border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
}

.boardLetters > tr > td,
.boardNums > tr > td {
    height: 50px;
    width: 50px;
}

.chessBoard,
.boardNums {
    float: left;
}

.boardLetters {
    clear: both;
}

.checked {
    opacity: 0.6;
}
