* {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    font-family: "Franklin Gothic Medium", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header {
    background: #327CCB;
    flex: 0 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F8F8F8;
    flex: 1 0 auto;
}

h2 {
    flex: 0 0 auto;
    padding: 10px;
}

.code-box {
    flex: 1 0 auto;
    background: #FFFFFF;
    border: 1px solid lightgrey;
}

.code-data {
    display: inline-block;
    width: 60%;
}

.footer {
    background: #919999;
    flex: 0 0 auto;
    height: 90px;
}

.footer > p {
    padding: 35px;
}
